@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.state {
    fill:#BEBEBE;
}

.flex-container {
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Roboto';
}

.reset-btn {
    margin-top: .5em;
}

.filter-container {
    margin-right: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 1em;
    background-color: #F5F5F5;
    width: 20em;
}

.background-container {
    margin-left: 20em;
    margin-right: 20em;
}

.highlight-border-state,
.clicked {
    transition: fill .5s;
    fill: black;
}

.opacity-full {
    transition: opacity .5s;
    opacity: 1;
}

.opacity-empty {
    transition: opacity .5s;
    opacity: .001;
}

/* Restuarants:
{   
    "Arby's", x
    'Burger King', x
    'Dairy Queen', x 
    "Domino's Pizza", x
    'Jack in the Box', x
    "McDonald's", x
    'Pizza Hut', x
    'Subway',
    'Taco Bell', x
    "Wendy's" 
} */

.PizzaHut {
    fill: brown;
}

.Subway {
    fill: green;
}

.Wendys {
    fill: aqua;
}

.McDonalds {
    fill:yellow;
}

.DominosPizza {
    fill: white;
}

.TacoBell {
    fill: purple;
}

.Arbys {
    fill: red;
}

.DairyQueen {
    fill: blue;
}

.JackintheBox {
    fill: pink;
}

.BurgerKing {
    fill:orange;
}

.hidden {
    display: none;
}

.circle {
    display: inline-block;
    margin-left: .5em;
    width: 1em;
    height: 1em;
    border-radius: 25px;
}